.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height: 70vh;
}

.register form {
  min-width: 310px;
  width: 600px;
}

.register p {
  display: flex;
  text-align: center;
  color: #aaa;
}