.edit_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  text-align: center;
}

.edit_post h2 {
  font-size: 1.7em;
}

.edit_post form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 600px;
  max-width: 90%;
}

.edit_post form label,
.edit_post form label span,
.edit_post form label input,
.edit_post form label textarea {
  width: 100%;
}

.edit_post p {
  color: #aaa;
  margin-bottom: 2em;
}

.edit_post .preview_title {
  margin-bottom: .2em;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 80%;
  margin-bottom: 1em
}

textarea {
  min-height: 150px;
}

@media screen and (max-width: 460px) {
  .edit_post h2 {
    font-size: 1.3em;
  }

  .edit_post p {
    font-size: .8em;
  }
}